[Unit]
Description=Rename docker-assigned interfaces to enp0s2 (LAN) and enp0s1 (bridge)
DefaultDependencies=no
After=local-fs.target sysinit.target
Before=basic.target network.target network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/network_setup.sh

[Install]
WantedBy=basic.target
